In [1]:
import pickle
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
from collections import defaultdict

In [2]:
# root_path = '../lightning_logs/vp_bridge_egnn_CombinedSparseGraphDataset_2024-08-19_21_05_04.140916'
root_path = '../lightning_logs/vp_bridge_egnn_CombinedSparseGraphDataset_2024-08-19_21_05_04.140916/ligand_based'
# root_path = '../lightning_logs/vp_bridge_egnn_CombinedSparseGraphDataset_2024-08-19_13_30_50.133260'
# root_path = '../lightning_logs/vp_bridge_egnn_CombinedSparseGraphDataset_2024-08-19_13_30_50.133260/ligand_based'

# root_path = '../lightning_logs/vp_bridge_egnn_CombinedSparseGraphDataset_2024-10-14_13_02_07.121254/ligand_based'

In [3]:
aromatic = True
optimization = False
fn = 'reconstructed_mols' + '_aromatic_mode' if aromatic else 'reconstructed_mols'
match_fn = fn + '_matches.pkl'
score_fn = fn + '_scores.csv'
match_file = os.path.join(root_path, match_fn)
score_file = os.path.join(root_path, score_fn)
match_file

'../lightning_logs/vp_bridge_egnn_CombinedSparseGraphDataset_2024-08-19_21_05_04.140916/ligand_based/reconstructed_mols_aromatic_mode_matches.pkl'

In [4]:
with open(match_file, 'rb') as f:
    match_dict = pickle.load(f)

In [5]:
scores = pd.read_csv(score_file, index_col=0, header=0)
scores

                                        score
1yw8_A_rec_1yw8_a75_lig_tt_docked_2  0.100000
4f31_B_rec_3lsw_4mp_lig_tt_min_0     0.666667
5i00_A_rec_5i00_afq_lig_tt_min_0     0.642857
5eob_A_rec_3zxz_krw_lig_tt_docked_0  0.666667
4ot2_A_rec_4zbr_nps_lig_tt_min_0     0.666667
...                                       ...
4b84_A_rec_4b84_z5k_lig_tt_min_0     0.600000
2re8_A_rec_1o0b_amp_lig_tt_min_0     0.428571
2bur_A_rec_1eob_dhb_lig_tt_min_0     0.500000
5hx8_A_rec_4ivb_1j5_lig_tt_min_0     0.833333
3fzt_A_rec_4h1j_0yh_lig_tt_min_0     0.375000

[14798 rows x 1 columns]

In [6]:
score_dict = scores.to_dict()['score']
# score_dict

In [7]:
# match_dict

In [8]:
all_lig = match_dict.keys()
# all_lig

In [9]:
len(all_lig)

14798

In [11]:
for lig in all_lig:
    if lig[lig.rfind('rec')+4:lig.rfind('lig')-1] == '4a23_c56':
        print(lig)

2xud_A_rec_4a23_c56_lig_tt_min_0
1q84_A_rec_4a23_c56_lig_tt_min_0
4b81_B_rec_4a23_c56_lig_tt_docked_6
5fum_A_rec_4a23_c56_lig_tt_min_0
2ha3_B_rec_4a23_c56_lig_tt_min_0
2ha3_B_rec_4a23_c56_lig_tt_docked_7
4b7z_A_rec_4a23_c56_lig_tt_min_0
2y2u_A_rec_4a23_c56_lig_tt_min_0
2jgf_A_rec_4a23_c56_lig_tt_docked_3
5ehz_B_rec_4a23_c56_lig_tt_min_0
5foq_A_rec_4a23_c56_lig_tt_docked_1
4b85_B_rec_4a23_c56_lig_tt_min_0
2xuj_B_rec_4a23_c56_lig_tt_docked_3
2y2v_A_rec_4a23_c56_lig_tt_min_0
3zlu_A_rec_4a23_c56_lig_tt_docked_8
4a23_A_rec_4a23_c56_lig_tt_min_0
4ara_A_rec_4a23_c56_lig_tt_docked_0
2ha6_A_rec_4a23_c56_lig_tt_min_0
2jge_A_rec_4a23_c56_lig_tt_min_0
2ha4_A_rec_4a23_c56_lig_tt_min_0
4b81_B_rec_4a23_c56_lig_tt_min_0
5ehq_A_rec_4a23_c56_lig_tt_min_0
4ara_A_rec_4a23_c56_lig_tt_min_0
4b85_B_rec_4a23_c56_lig_tt_docked_11
4arb_B_rec_4a23_c56_lig_tt_min_0
2wls_A_rec_4a23_c56_lig_tt_min_0
5foq_A_rec_4a23_c56_lig_tt_min_0
2gyw_B_rec_4a23_c56_lig_tt_min_0
4b84_A_rec_4a23_c56_lig_tt_min_0
2ha4_A_rec_4a23_c56_lig_tt_docked_2
3dl7_A_rec_4a23_c56_lig_tt_min_0
2ha6_A_rec_4a23_c56_lig_tt_docked_1
2jgf_A_rec_4a23_c56_lig_tt_min_0
1q83_A_rec_4a23_c56_lig_tt_min_0
5fkj_D_rec_4a23_c56_lig_tt_min_0
2whq_B_rec_4a23_c56_lig_tt_docked_0
5fkj_D_rec_4a23_c56_lig_tt_docked_15
4b83_A_rec_4a23_c56_lig_tt_min_0
2ha5_A_rec_4a23_c56_lig_tt_min_0
4btl_A_rec_4a23_c56_lig_tt_min_0
2whq_B_rec_4a23_c56_lig_tt_min_0
5ehz_B_rec_4a23_c56_lig_tt_docked_2
5ehq_A_rec_4a23_c56_lig_tt_docked_0
2xuj_B_rec_4a23_c56_lig_tt_min_0

# select by lig

In [43]:
lig_names = [lig[lig.rfind('rec')+9:lig.rfind('rec')+12] for lig in all_lig]
lig_names = set(lig_names)
len(lig_names)

999

In [44]:
# lig_names

In [45]:
lig_dict = defaultdict(lambda : [])
for lig in tqdm(all_lig):
    lig_name = lig[lig.rfind('rec')+9:lig.rfind('rec')+12]
    lig_dict[lig_name].append(lig)

100%|████████████████████████████████████████████████████████████████████| 15075/15075 [00:00<00:00, 874707.87it/s]

In [46]:
# lig_dict

In [47]:
rev_lig_dict = {lig:lig_name for lig_name, ligs in lig_dict.items() for lig in ligs }

In [48]:
# rev_lig_dict

In [49]:
scores_by_lig = defaultdict(lambda : [])
for lig, score in tqdm(score_dict.items()):
    lig_name = rev_lig_dict[lig]
    scores_by_lig[lig_name].append(score)

# scores_by_lig

100%|████████████████████████████████████████████████████████████████████| 15075/15075 [00:00<00:00, 966422.11it/s]

In [50]:
avg_score = {}
n_lig = {}
for lig, scores in tqdm(scores_by_lig.items()):
    avg_score[lig] = np.mean(scores)
    n_lig[lig] = len(scores)

100%|█████████████████████████████████████████████████████████████████████████| 999/999 [00:00<00:00, 77219.96it/s]

In [51]:
avg_score_df = pd.DataFrame.from_dict({'score':avg_score, 'num sample':n_lig}, orient='columns')
avg_score_df

        score  num sample
a75  0.600000           8
4mp  0.333333           3
afq  0.666113          43
krw  0.550388          43
nps  0.716049           9
..        ...         ...
ce1  0.263158           1
cze  0.142857           1
8qp  0.545455           1
dwf  0.071429           1
4x8  0.285714           1

[999 rows x 2 columns]

In [52]:
avg_score_df.sort_values('score', ascending=False, inplace=True)

In [53]:
avg_score_df.to_csv(os.path.join(root_path, fn+'_avg_score_by_lig.csv'))

In [54]:
avg_score_df = pd.read_csv(os.path.join(root_path, fn+'_avg_score_by_lig.csv'), index_col=0, header=0)
avg_score_df

       score  num sample
hex  1.00000           3
d12  1.00000           1
d10  1.00000          16
dcd  1.00000           7
d2v  0.94898           7
..       ...         ...
pga  0.00000           5
gmn  0.00000           3
dg2  0.00000           1
cff  0.00000           1
p99  0.00000           2

[999 rows x 2 columns]

In [55]:
filtered = avg_score_df[(avg_score_df['score'] >= 0.5) &
                        (avg_score_df['num sample'] >= 10)]
filtered

        score  num sample
d10  1.000000          16
r18  0.935673          18
3sw  0.921875          40
nog  0.891626          29
x13  0.886905          14
..        ...         ...
jak  0.500000          34
18n  0.500000          18
sjz  0.500000          22
6xb  0.500000          48
bty  0.500000          17

[163 rows x 2 columns]

# select by rec

In [49]:
# rec_names = [lig[0:6] for lig in all_lig]
rec_names = [fn[fn.rfind('rec')+4:fn.rfind('lig')-1] for fn in all_lig]
rec_names = set(rec_names)
len(rec_names)

1163

In [50]:
rec_dict = defaultdict(lambda : [])
for lig in tqdm(all_lig):
    # rec_name = lig[0:6]
    rec_name = lig[lig.rfind('rec')+4:lig.rfind('lig')-1]
    rec_dict[rec_name].append(lig)

100%|███████████████████████████████████████████████████████████████████| 14798/14798 [00:00<00:00, 1643514.12it/s]

In [51]:
rev_rec_dict = {lig:rec_name for rec_name, ligs in rec_dict.items() for lig in ligs }

In [52]:
scores_by_rec = defaultdict(lambda : [])
for lig, score in tqdm(score_dict.items()):
    rec_name = rev_rec_dict[lig]
    scores_by_rec[rec_name].append(score)

100%|███████████████████████████████████████████████████████████████████| 14798/14798 [00:00<00:00, 2058753.83it/s]

In [53]:
avg_score_rec = {}
n_rec = {}
for rec, scores in tqdm(scores_by_rec.items()):
    avg_score_rec[rec] = np.mean(scores)
    n_rec[rec] = len(scores)

100%|██████████████████████████████████████████████████████████████████████| 1163/1163 [00:00<00:00, 161935.25it/s]

In [54]:
avg_score_rec_df = pd.DataFrame.from_dict({'score':avg_score_rec, 'num sample':n_rec}, orient='columns')
avg_score_rec_df

             score  num sample
1yw8_a75  0.125000           8
3lsw_4mp  0.666667           3
5i00_afq  0.652824          43
3zxz_krw  0.416021          43
4zbr_nps  0.740741           6
...            ...         ...
5dqf_cze  0.142857           1
5v0v_8qp  0.545455           1
4mxc_dwf  0.142857           1
5fmq_mgt  0.200000           1
5bzm_4x8  0.428571           1

[1163 rows x 2 columns]

In [55]:
avg_score_rec_df.sort_values('score', ascending=False, inplace=True)
avg_score_rec_df.to_csv(os.path.join(root_path, fn+'_avg_score_by_rec.csv'))
avg_score_rec_df

          score  num sample
4xhb_17y    1.0           6
2evs_hex    1.0           1
3nkm_nkp    1.0           1
1sv2_dtt    1.0           1
3zlv_hi6    1.0          15
...         ...         ...
3tgw_aes    0.0           1
3qs8_17d    0.0           8
4hnc_0ut    0.0           1
4azm_t4b    0.0           1
5sw3_46l    0.0          72

[1163 rows x 2 columns]

In [56]:
filtered_rec = avg_score_rec_df[(avg_score_rec_df['score'] >= 0.5) &
                                (avg_score_rec_df['num sample'] >= 10)]
filtered_rec

             score  num sample
3zlv_hi6  1.000000          15
3p1d_mb3  1.000000          60
1gu1_fa1  0.961039          11
1j06_ae3  0.958333          24
5khx_6te  0.900000          11
...            ...         ...
1q4w_dqu  0.502778          90
5fe2_5wv  0.500000          18
5tc7_mth  0.500000          11
3g8o_30x  0.500000          11
5ktu_6xb  0.500000          48

[171 rows x 2 columns]

In [57]:
len(filtered_rec)

171